<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte 
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- Swagger -->
    <add key="EmailContact" value="ignacio.chavez4646@gmail.com" />
    <add key="PhoneContact" value="+569 32151752" />
    <add key="PageContact" value="https://www.ignaciochavez.cl" />   
    <!-- Validaciones -->
    <add key="IsRut" value="^([0-9]+-{1}[0-9K]{1})$" />
    <add key="IsBase64String" value="^[a-zA-Z0-9\+/]*={0,3}$" />
    <!-- Llave secreta api -->
    <add key="SecretKey" value="41f43827424b22ec30c3b1064ff752abc6345a1c0d2c030457a2a8e0b86f562d" />
    <add key="APIKey" value="Bearer bqtb6PN834XzWYF2qaHPpZR7JEL68YdCj8avtmnFQRYpUxvAkff4pu22Q8hVWvTXRJH63zFMJT64BMVmK9aqXRhyv6L8RV7ssC5hZDy3pZvFXzgapteW6bgEyy72UUzR37CXLZVMGv3fENK2HEJZ9td9yydxLCc2DAr2FnvETgqdXYpqV669Fj6huPfes4fSLfQNqBMsvbVFjHc4dP2qUeBTtXBKDWgt7xvxpCanWYJdPkUXsCtPAGFADuXzvmuh" />
    <!-- Json Web Token -->
    <add key="JWTSecretPassword" value="4OOPM0P21X13cFNmd2hh3ÑIY9WdKTEDt24uTbAk3cy9HRtl4D5Lj60A7yaYmZvvdñmR90Du07ca7hv4aWABRoht5sJJ40DpvBYFEZCXHÑR5v41o9Il5CM5iJk74Ñtoxb0U9D1ocvTarelDpbUjyENqvY1UWb9MUk6qC9f2F3dbO523G9327IgGdYMgV3o8P7k1B0ÑOenR3ñQWL8u3H4vv9Cs0HX2r8OV6CNh1spX1ax96czsNtYhTh7j1180RcJW" />
    <add key="JWTAudience" value="www.openapicsharp.cl" />
    <add key="JWTIssuer" value="http://localhost:59491" />
    <add key="JWTTimeMinutesExpires" value="480" />
    <!-- Otros -->
    <add key="TimeZoneInfoName" value="Pacific SA Standard Time" />
    <add key="PageSizeMaximun" value="50" />
    <add key="PDFRoleSizeMaximunOfRecordsByPage" value="60" />
    <add key="PDFContactSizeMaximunOfRecordsByPage" value="60" />
    <add key="PDFUserSizeMaximunOfRecordsByPage" value="60" />
    <add key="PDFBiographySizeMaximunOfRecordsByPage" value="45" />
    <add key="PDFPowerStatsSizeMaximunOfRecordsByPage" value="60" />
    <add key="PDFHeroeSizeMaximunOfRecordsByPage" value="4" />
    <add key="IsEmail" value="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" />
    <add key="IsPhone" value="^\+[0-9]{10,14}$" />
    
    <add key="" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ComicEntities" connectionString="metadata=res://*/Comic.ComicEDM.csdl|res://*/Comic.ComicEDM.ssdl|res://*/Comic.ComicEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CI9AOUF\MSSQLSERVER2017;initial catalog=Comic;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <globalization uiCulture="es" culture="es-CL" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="40960" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.webServer>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="2147483647" />
    </requestFiltering>
  </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
